<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- UI Appender -->
    <appender name="UI" class="com.kafka.ui.components.LogAppender" />

    <!-- Set root logger level to DEBUG and its only appender to CONSOLE. -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="UI" />
    </root>
</configuration>
